<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Titulo 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hola Mundo</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Saludando.."></app-explore-container>
</ion-content>
